/* Theme Name: Fictive
 * Theme URI: https://wordpress.com/themes/fictive/
 * Author: Automattic
 * Author URI: https://wordpress.com/themes/
 * Description: Fictive is all about you -- your style, your look, your story. Make it personal with a custom header image, a Gravatar, and links to your favorite social networks. Use Post Formats to dress up your content, add a custom menu and widgets, or keep it simple with a fixed-position header.
 * Version: 1.1.2
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: fictive
 * Domain Path: /languages/
 * Tags: brown, orange, blue, red, two-columns, left-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, featured-images, flexible-header, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
 *
 * This theme, like WordPress, is licensed under the GPL.
 * Use it to make something cool, have fun, and share what you've learned with others.
 *
 * Fictive is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine work of
 * Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 * and Blueprint http://www.blueprintcss.org/ */

/* =Rebuild
----------------------------------------------- */
* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body,
button,
input,
select,
textarea {
  color: __text__;
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 16px;
  font-weight: 400;
}

/* Headings */
/* desbest edit */
h1, h2, h3, h4, h5, h6 {
  /*clear: both;*/
  /*clear: none;*/
}

hr {
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  height: 0;
  margin-top: -1px;
  margin-bottom: 24px;
  padding-top: 24px;
}

/* Text elements */
p {
  margin-bottom: 24px;
}

ul, ol {
  margin: 0 0 24px 36px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 24px;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 24px 24px;
}

b, strong {
  font-weight: 600;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 24px;
}

address {
  margin: 0 0 24px;
}

pre {
  background: rgba(119, 119, 119, 0.5);
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375em;
  line-height: 1.6em;
  margin-top: -2px;
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 24px;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875em;
  line-height: 1.71429em;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 24px;
  width: 100%;
}

th {
  font-weight: bold;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.menu-toggles .screen-reader-text {
	left: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
  clip: auto !important;
  display: inline-block;
  font-weight: 600;
  line-height: 24px;
  padding: 24px;
  z-index: 100000;
  position: absolute !important;
  top: 24px;
  left: 24px;
}

/* Clearing */
.clear:before,
.clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both;
}

.entry-content:before,
.entry-content:after {
  content: '';
  display: table;
}

.entry-content:after {
  clear: both;
}

.comment-content:before,
.comment-content:after {
  content: '';
  display: table;
}

.comment-content:after {
  clear: both;
}

.site-header:before,
.site-header:after {
  content: '';
  display: table;
}

.site-header:after {
  clear: both;
}

.site-content:before,
.site-content:after {
  content: '';
  display: table;
}

.site-content:after {
  clear: both;
}

.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

.site-footer:after {
  clear: both;
}

/* =Forms
----------------------------------------------- */
button,
input,
select,
textarea {
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

.entry-format, .hentry:before, .menu-toggle:before, .hentry.format-link .entry-title a:after, .comments-link a:before,
.post-date a:before,
.sticky .post-date a:before,
.byline a:before,
.edit-link a:before,
a .post-date:before, .page-title:before, .site-content [class*="paging-navigation"] a:before,
.site-content [class*="post-navigation"] a:before, #cancel-comment-reply-link:before, .reply:before, .social-links ul a:before {
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: text-bottom;
}

.entry-format, .hentry:before {
  background: #bd5532;
  border-radius: 80px 80px 0 0;
  color: white;
  display: block;
  font-size: 32px;
  line-height: 55px;
  margin-left: -40px;
  position: absolute;
  top: -48px;
  left: 50%;
  text-align: center;
  width: 80px;
  height: 40px;
}


/* =Global */
body {
  background: __background__;
  color: __text__;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

button,
input,
select,
textarea {
  background: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin: 12px 24px 12px 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 12px 0 12px 24px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 12px auto;
}

/* Headings */
h1 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 46px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h2 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h3 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h4 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h5 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h6 {
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  margin: 24px 0;
}

h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

hr {
  background-color: #6f9d9f;
  height: 1px;
  margin-bottom: 23px;
  padding: 0;
}

/* Text elements */
p {
  margin-bottom: 24px;
}

ul {
  margin: 0 0 24px 24px;
  list-style: disc;
}
ul ul {
  list-style: square;
}
ul ul ul {
  list-style: circle;
}

ol {
  margin: 0 0 24px 24px;
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 24px;
}

dt {
  font-weight: 400;
}

dd {
  margin: 12px 0 12px 24px;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  color: #ada393;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  border-left: 5px solid rgba(173, 163, 147, 0.25);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
  padding-left: 24px;
}
blockquote blockquote {
  font-size: inherit;
}
blockquote cite {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: right;
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8125em;
  line-height: 1.84615em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6f9d9f;
  border: 0;
  border-radius: 2px;
  color: #efedea;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 24px;
  text-shadow: none;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #bd5532;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  background: #efedea;
  border: 1px solid #efedea;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 11px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  background: #f6f4f3;
  border: 1px solid #e4e1dc;
  outline: none;
}


textarea {
  background: #efedea;
  border: 1px solid #efedea;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 11px;
}
textarea:focus {
  background: #f6f4f3;
  border: 1px solid #e4e1dc;
  outline: none;
}


address {
  font-style: italic;
  margin-bottom: 24px;
}

pre {
  background: rgba(0, 0, 0, 0.03);
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin-bottom: 24px;
  padding: 24px;
  overflow: auto;
  max-width: 100%;
}

code, kbd, tt, var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.8125em;
  line-height: 1.84615em;
}

abbr, acronym {
  border-bottom: 1px dotted #ada393;
  cursor: help;
  margin-bottom: 23px;
}

mark, ins {
  background: fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 0.8125em;
  line-height: 1.84615em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 0.8125em;
  line-height: 1.84615em;
}

big {
  font-size: 1.25em;
  line-height: 1.2em;
}

figure {
  margin: 0;
}

table {
  margin-bottom: 24px;
  width: 100%;
}

td, th {
  border-bottom: 1px solid rgba(173, 163, 147, 0.25);
  border-collapse: collapse;
  padding: 6px 3px 5px;
}

th {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

/* Links */
a {
  color: #bd5532;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: #bd5532;
}
a:hover, a:focus, a:active {
  color: #6f9d9f;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Show or hide a11y text */
/* Clearing */
/* =Layout */
.site {
  margin: 0 auto;
  max-width: __site_width__;
}


.site-content {
  float: right;
  width: 66%;
  margin: 72px auto 0;
}


.content-area {
  float: left;
  margin: 0 -30% 0 0;
  width: 100%;
}


.site-main {
  margin: 0;
}

.site-footer {
  clear: both;
  color: #ada393;
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 24px auto 0;
  padding: 48px 0;
  text-align: center;
}
.site-footer a {
  color: #ada393;
  text-decoration: none;
}


.site-info {
  margin: 0 auto;
}


/* =Header */
.site-header {
  float: left;
  margin-top: 80px;
  margin-bottom: 0;
  position: relative;
  width: __sidebar_width__;
  z-index: 1;
}
.site-header a:hover .header-image {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-header .header-image {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: -8px auto 7px;
  opacity: 0.8;
  position: relative;
  z-index: -2;
}


.header-avatar {
  display: block;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  top: -46px;
}
.header-avatar img {
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.site-branding {
  background: white;
  border-left: 1px solid #e4e1dc;
  border-right: 1px solid #e4e1dc;
  border-bottom: 1px solid #e4e1dc;
  border-radius: 0 0 2px 2px;
  margin: 0 auto 24px;
  padding: 24px;
  position: relative;
}
.site-branding:after {
  border-top: 8px solid #bd5532;
  content: "";
  position: absolute;
  top: -8px;
  left: -1px;
  width: ~"-webkit-calc(100% + 2px)";
  width: ~"calc(100% + 2px)";
  z-index: -1;
}

.site-title {
  font-size: 1.625em;
  line-height: 1.84615em;
  line-height: 1.38462em;
  font-weight: 300;
  margin: 6px 0 0;
  text-align: center;
}
.site-title a {
  color: #bd5532;
  padding: 0;
  text-decoration: none;
}

.site-description {
  font-size: 0.8125em;
  line-height: 1.84615em;
  color: #ada393;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

/* =Menu */
.main-navigation {
  font-size: 0.8125em;
  line-height: 1.84615em;
  clear: both;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto 24px;
  position: relative;
  max-width: 60em;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
.main-navigation li {
  display: block;
  position: relative;
}

.inlinemenu li{
  display: inline-block;
}

.main-navigation li li a {
  padding-left: 48px;
}
.main-navigation li li li a {
  padding-left: 72px;
}
.main-navigation a {
  border-bottom: 1px solid #e4e1dc;
  color: #6f9d9f;
  display: block;
  margin-bottom: 6px;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
}
.main-navigation a:hover {
  color: #bd5532;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
  color: #bd5532;
}


/* Small menu */
.menu-toggle {
  font-size: 1.625em;
  line-height: 1.84615em;
  background-color: #6f9d9f;
  clear: none;
  color: white;
  cursor: pointer;
  display: none;
  float: left;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.menu-toggle:before {
  font-size: 1em;
  line-height: 1.5em;
  content: "\f419";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}


.header-search {
  display: none;
  position: relative;
}

.header-search label {
  width: 75%;
}
.header-search input,
.header-search input:focus {
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.header-search input[type="search"] {
  background-color: white;
  height: 48px;
}
.header-search input[type="submit"] {
  background-color: #bd5532;
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 48px;
}
.header-search input[type="submit"]:hover {
  background-color: #a94c2d;
}

#search-toggle:before {
  content: "\f400";
}

#widgets-toggle:before {
  content: "\f445";
}



.menu-toggles .menu-toggle:nth-child(1):nth-last-child(1) {
  width: 100%;
}
.menu-toggles .menu-toggle:nth-child(1):nth-last-child(2), .menu-toggles .menu-toggle:nth-child(2):nth-last-child(1) {
  width: 50%;
}
.menu-toggles .menu-toggle:nth-child(1):nth-last-child(3), .menu-toggles .menu-toggle:nth-child(2):nth-last-child(2), .menu-toggles .menu-toggle:nth-child(3):nth-last-child(1) {
  width: 33.33333%;
}

/* =Content */
.entry-format {
  background: transparent;
  color: transparent;
  z-index: 4;
}

.hentry-wrapper {
  margin: 0 0 72px;
}

.hentry {
  background-color: white;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
  margin-top: 7px;
  padding: 24px 48px 19px;
  position: relative;
}
.hentry:after {
  border-top: 8px solid #bd5532;
  content: "";
  position: absolute;
  top: -8px;
  left: -1px;
  width: ~"-webkit-calc(100% + 3px)";
  width: ~"calc(100% + 3px)";
}

.hentry:before {
  content: "\f100";
  z-index: 2;
}
.hentry.type-page:before {
  content: "\f443";
}
.hentry.sticky:after, .hentry.format-image:after {
  border-top-color: #6f9d9f;
}
.hentry.sticky:before, .hentry.format-image:before {
  background: #6f9d9f;
  content: "\f308";
}
.hentry.format-image:before {
  content: "\f102";
}
.hentry.format-gallery:after, .hentry.format-aside:after {
  border-top-color: #d68265;
}
.hentry.format-gallery:before, .hentry.format-aside:before {
  background: #d68265;
  border-top-color: #d37859;
  content: "\f101";
}
.hentry.format-link:after {
  border-top-color: #acc7c8;
}
.hentry.format-link:before {
  background: #acc7c8;
  content: "\f107";
}
.hentry.format-link .entry-title a:after {
  content: "\f442";
  display: inline-block;
  font-size: 48px;
  margin-left: 7px;
}

.hentry.format-video:after, .hentry.format-audio:after {
  border-top-color: #ada393;
}
.hentry.format-video:before, .hentry.format-audio:before {
  background: #ada393;
  content: "\f104";
}
.hentry.format-audio:before {
  content: "\f109";
}
.hentry.format-status:after, .hentry.format-quote:after {
  border-top-color: #755c51;
}
.hentry.format-status:before, .hentry.format-quote:before {
  background: #755c51;
  content: "\f106";
}
.hentry.format-status:before {
  content: "\f105";
}
.hentry.format-gallery:before {
  content: "\f103";
}


.no-results.hentry:before {
  display: none;
}

.error404 .hentry:before {
  display: none;
}

.byline {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.entry-content,
.entry-summary {
  margin-bottom: 24px;
  margin-top: 24px;
}

.hentry-wrapper:hover .entry-thumbnail img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.entry-thumbnail img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.entry-thumbnail:hover img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.page-links {
  clear: both;
  color: #ada393;
  margin: 24px 0;
  word-spacing: 6px;
}
.page-links span.active-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #bd5532;
  display: inline-block;
  border-radius: 50%;
  color: white;
  margin-bottom: 6px;
  width: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
}
.page-links a span.active-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d68265;
  display: inline-block;
  border-radius: 50%;
  color: white;
  margin-bottom: 6px;
  width: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
}
.page-links a:hover span.active-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #bd5532;
}

a.more-link {
  font-size: 0.8125em;
  line-height: 1.84615em;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ada393;
  text-decoration: none;
}

.entry-title {
  line-height: 1.25217em;
  color: #bd5532;
  margin: 12px 0;
  text-align: center;
}
.entry-title a {
  color: #bd5532;
  text-decoration: none;
}


.entry-meta, .entry-meta a, .pingback .edit-link,
.trackback .edit-link, #cancel-comment-reply-link, .reply {
  color: #ada393;
  font-size: 0.8125em;
  line-height: 1.84615em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.entry-meta a, .pingback .edit-link a,
.trackback .edit-link a, #cancel-comment-reply-link a, .reply a {
  font-size: inherit;
}

header .entry-meta, header .entry-meta a, .entry-meta header a, header .pingback .edit-link, .pingback header .edit-link,
header .trackback .edit-link,
.trackback header .edit-link, header #cancel-comment-reply-link, header .reply {
  text-align: center;
}
header .entry-meta:hover, header .entry-meta a:hover, .entry-meta header a:hover, header .pingback .edit-link:hover, .pingback header .edit-link:hover,
header .trackback .edit-link:hover,
.trackback header .edit-link:hover, header #cancel-comment-reply-link:hover, header .reply:hover {
  color: #7c705e;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.comments-link,
.post-date,
.sticky .post-date,
.byline,
.edit-link,
a .post-date {
  display: inline-block;
  margin: 0 12px;
}
.comments-link a,
.post-date a,
.sticky .post-date a,
.byline a,
.edit-link a,
a .post-date a {
  text-decoration: none;
}
  

.page .entry-footer .edit-link {
  margin: 0;
}

.comments-link a:before,
.post-date a:before,
.sticky .post-date a:before,
.byline a:before,
.edit-link a:before,
a .post-date:before:before {
  display: inline-block;
  margin-right: 2px;
}

.comments-link a:before {
  content: "\f300";
}

.post-date a:before,
a .post-date:before {
  content: "\f307";
}

.sticky .post-date a:before {
  content: "\f308";
}

.byline a:before {
  content: "\f304";
}

.edit-link a:before {
  content: "\f411";
}

.tags-links {
  font-size: 0.8125em;
  line-height: 1.84615em;
  clear: both;
  display: block;
  font-weight: bold;
  margin: 12px 0 12px 11px;
}
.tags-links a {
  background-color: #6f9d9f;
  color: white;
  display: block;
  float: left;
  margin-right: 24px;
  margin-bottom: 6px;
  padding: 1px 6px 2px 6px;
  position: relative;
}
.tags-links a:hover {
  background-color: #bd5532;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tags-links a:hover:after {
  background-color: #bd5532;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tags-links a:after {
  background-color: #6f9d9f;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 22px 0 0 22px;
  content: "";
  display: block;
  position: absolute;
  left: -11px;
  top: 0;
  width: 11px;
  height: 22px;
  z-index: 0;
}
.tags-links a:before {
  background: white;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: -4px;
  width: 4px;
  height: 4px;
  z-index: 1;
}

.sep {
  margin: 0 6px;
}

.page-title {
  color: #ada393;
  display: inline-block;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 72px;
}

.page-title:before {
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1em;
  margin-right: 7px;
}

.archive.category .page-title:before {
  content: "\f301";
}

.archive.tag .page-title:before {
  content: "\f302";
}

.archive.author .page-title:before {
  content: "\f304";
}

.archive.date .page-title:before {
  content: "\f307";
}

.search.search-results .page-title:before {
  content: "\f400";
}

.archive.term-post-format-aside .page-title:before {
  content: "\f101";
}

.archive.term-post-format-image .page-title:before {
  content: "\f102";
}

.archive.term-post-format-gallery .page-title:before {
  content: "\f103";
}

.archive.term-post-format-video .page-title:before {
  content: "\f104";
}

.archive.term-post-format-status .page-title:before {
  content: "\f105";
}

.archive.term-post-format-quote .page-title:before {
  content: "\f106";
}

.archive.term-post-format-link .page-title:before {
  content: "\f107";
}

.archive.term-post-format-audio .page-title:before {
  content: "\f109";
}

.taxonomy-description {
  color: #ada393;
  font-style: italic;
  margin-top: 24px;
}

.author-archives-header {
  background: white;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
  margin: -48px 0 72px;
  padding: 24px 48px;
  position: relative;
  width: 100%;
}


.author-archives-name,
.author-archives-url,
.author-archives-bio {
  clear: both;
  display: block;
}

/* Search */
.search-results .page .sep:first-of-type {
  display: none;
}

/* =Media */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption {
  margin-bottom: 24px;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.wp-caption-text {
  color: #ada393;
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin: 12px 0;
  padding: 0 1%;
  word-wrap: break-word;
}

.size-thumbnail + .wp-caption-text,
.size-medium + .wp-caption-text {
  font-size: 0.8125em;
  line-height: 1.84615em;
  line-height: 1.84615em;
}

.site-content .gallery {
  margin-bottom: 24px;
}
.site-content .gallery a img {
  height: auto;
  max-width: 90%;
}
.site-content .gallery dd {
  margin: 0;
}

/* Gallery column widths */
.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.667%;
}

.gallery-columns-7 .gallery-item {
  width: 14%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.11%;
}

.site-content .gallery-columns-1.gallery a img {
  max-width: 100%;
}

.gallery-item {
  float: left;
  margin-bottom: 24px;
  text-align: center;
}
.gallery-item img {
  border: 1px solid #efedea;
  border-radius: 2px;
  padding: 3px;
}

.gallery-caption {
  font-size: 0.8125em;
  line-height: 1.84615em;
  line-height: 1.84615em;
  margin: 0 auto;
  max-width: 90%;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Navigation */
.site-content [class*="navigation"] {
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.site-content [class*="paging-navigation"] a,
.site-content [class*="post-navigation"] a {
  color: white;
}
.site-content [class*="paging-navigation"] a:before,
.site-content [class*="post-navigation"] a:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ada393;
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 49px;
  line-height: 90px;
  opacity: 0.25;
  position: fixed;
  top: 50%;
  text-decoration: none;
  width: 90px;
  height: 90px;
  content: "\f430";
  z-index: 1;
}

.site-content [class*="paging-navigation"] a:hover:before,
.site-content [class*="post-navigation"] a:hover:before {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-content [class*="paging-navigation"] .nav-previous a:before,
.site-content [class*="post-navigation"] .nav-previous a:before {
  left: 0;
  margin-left: -48px;
  text-align: right;
}

.site-content [class*="paging-navigation"] .nav-next a:before,
.site-content [class*="post-navigation"] .nav-next a:before {
  right: 0;
  margin-right: -48px;
  text-align: left;
  content: "\f429";
}

.comment-navigation:before,
.comment-navigation:after {
  content: "";
  display: table;
}

.comment-navigation:after {
  clear: both;
}

.site-content .comment-navigation {
  margin-bottom: 24px;
}

.site-content .comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.site-content .comment-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* =Comments */
div#respond {
  background: white;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
  padding: 24px 48px;
  position: relative;
}


.comment-body {
  background: white;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
  padding: 48px 48px 24px;
  position: relative;
}


.comment-content {
  margin-top: 24px;
}

.comment-content a {
  word-wrap: break-word;
}

.comment-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 24px;
  padding: 0;
}
.comment-list .children {
  list-style: none;
  padding-left: 6px;
}
.comment-list li.comment {
  margin-top: 48px;
}

.pingback,
.trackback {
  margin: 12px 0;
}
.pingback a,
.trackback a {
  text-decoration: none;
}
.pingback .edit-link,
.trackback .edit-link {
  float: right;
  margin-left: 24px;
  margin-right: 0;
}
.pingback .edit-link a,
.trackback .edit-link a {
  color: #ada393;
}

.pingback .comment-body,
.trackback .comment-body {
  padding: 24px 48px;
}

.comment-author {
  font-size: 1.25em;
  line-height: 1.2em;
  color: #bd5532;
  font-family: "Bitter", Georgia, Times, serif;
  text-align: center;
}
.comment-author a {
  text-decoration: none;
}
.comment-author .avatar-wrapper {
  border-radius: 50%;
  display: block;
  float: left;
  margin: 0 12px 0 -35px;
  position: absolute;
  top: -36px;
  left: 50%;
  width: 70px;
  height: 70px;
  z-index: 3;
}

.comment-author .avatar {
  border-radius: 50%;
}
.comment-author cite {
  font-style: normal;
}

.bypostauthor > .comment-body {
  border-color: #d68265;
}

.comment-metadata, .comment-metadata a {
  color: #ada393;
  font-size: 0.8125em;
  line-height: 1.84615em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.comment-metadata a {
  font-size: inherit;
  text-decoration: none;
}

#cancel-comment-reply-link {
  font-size: 0.8125em;
  line-height: 1.84615em;
  float: right;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-decoration: none;
}
#cancel-comment-reply-link:before {
  font-size: 1.625em;
  line-height: 1.84615em;
  content: "\f412";
  content: "\f405";
  margin-right: 3px;
  vertical-align: middle;
}

.reply {
  display: inline-block;
  font-size: inherit;
  margin-right: 24px;
  text-decoration: none;
}
.reply:before {
  content: "\f412";
  margin-right: 3px;
}

.comment-respond {
  border-top: 8px solid #bd5532;
}

.comment-reply-title {
  margin-top: 0;
}

.comments-title {
  color: #ada393;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 48px;
}


.comment-form label {
  display: inline-block;
  width: 96px;
}

.required {
  color: #bd5532;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  margin: 0 0 24px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 6px 12px;
  position: absolute;
  left: 0;
  top: 6px;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment input {
  display: block;
  margin: 0 0 24px;
  padding-left: 100px;
  width: 100%;
}
.comment-form-author textarea,
.comment-form-email textarea,
.comment-form-url textarea,
.comment-form-comment textarea {
  margin: 0 0 24px;
  padding: 48px 12px 6px;
  clear: both;
  width: 100%;
}

.says {
  display: none;
}

.form-allowed-tags, .form-allowed-tags code {
  color: #ada393;
  font-size: 0.8125em;
  line-height: 1.84615em;
}
.form-allowed-tags code {
  font-size: 0.8125em;
  line-height: 1.84615em;
}

.no-comments {
  color: #ada393;
  font-style: italic;
  margin: 24px 0;
  text-align: center;
}

/* =Widgets */
.widget {
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin: 24px 0;
  position: relative;
  overflow: hidden;
}
.widget select {
  max-width: ~"-webkit-calc(100% - 48px)";
  max-width: ~"calc(100% - 48px)";
  margin-left: 24px;
}
.widget a {
  text-decoration: none;
}
.widget ul {
  list-style: none;
  margin: 0;
}
.widget ul li {
  border-bottom: 1px solid #e4e1dc;
  list-style: none;
  margin: 0;
  padding: 12px 24px;
}
.widget ul li li {
  border-bottom: 0;
  padding: 6px 0 6px 12px;
}
.widget ul li li:last-child {
  padding-bottom: 0;
}
.widget ul li:last-child {
  border-bottom: 0;
}

.widget > ul:first-of-type > li:first-child {
  padding-top: 0;
}

.widget-title {
  font-size: 1.25em;
  line-height: 1.2em;
  border-bottom: 1px solid #e4e1dc;
  color: #6f9d9f;
  font-weight: bold;
  margin: 12px 0;
  padding: 12px 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.widget-title a {
  color: #6f9d9f;
}

.widget input[type="text"] {
	background: white;
	padding: 11px !important;
}

.widget_search input {
  background: white;
  margin-left: 24px;
  max-width: ~"-webkit-calc(100% - 48px)";
  max-width: ~"calc(100% - 48px)";
}
.widget_search input[type="submit"] {
  display: none;
}


.wp_widget_tag_cloud div,
.widget_tag_cloud .tagcloud {
  text-align: center;
}
.wp_widget_tag_cloud div a,
.widget_tag_cloud .tagcloud a {
  color: #bd5532;
  text-decoration: none;
}

/* Calendar widget */
#wp-calendar td, #wp-calendar th,
#wp-calendar th {
  text-align: center;
}
#wp-calendar caption {
  font-weight: 700;
  margin: 12px 0;
  text-align: center;
}

/* =Jetpack */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}

#infinite-footer {
  z-index: 999;
}
#infinite-footer .container {
  background: #efedea;
  border-top: 0;
  color: #ada393;
  font-size: 0.8125em;
  font-style: italic;
  position: relative;
}
#infinite-footer .container a {
  color: #ada393;
}
#infinite-footer .blog-info a,
#infinite-footer .blog-credits {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.infinite-loader {
  margin: 0 auto 48px;
  width: 28px;
}

#infinite-handle span {
  font-size: 0.8125em;
  line-height: 1.84615em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #6f9d9f;
  border-radius: 2px;
  color: white;
  display: block;
  float: none;
  font-weight: bold;
  margin: -24px auto 48px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 140px;
}
#infinite-handle span:hover {
  background: #bd5532;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


div.sharedaddy div.sd-block {
  padding: 11px 0 12px !important;
}

/* =Social Links */
.social-links {
  margin: 0 auto;
  padding: 12px 0 0;
  text-align: center;
}
.social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.social-links ul a {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
}
.social-links ul a:before {
  background: #6f9d9f;
  border-radius: 50%;
  color: white;
  content: "\f415";
  display: block;
  font-size: 24px;
  line-height: 1;
  position: relative;
  transition: top 0.3s ease-in-out;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-links ul a:hover {
  text-decoration: none;
}
.social-links ul a:hover:before {
  background: #bd5532;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-links ul:last-of-type {
  margin-right: 0;
}
.social-links ul a[href*="wordpress.org"]:before,
.social-links ul a[href*="wordpress.com"]:before {
  content: "\f205";
}
.social-links ul a[href*="facebook.com"]:before {
  content: "\f204";
}
.social-links ul a[href*="twitter.com"]:before {
  content: "\f202";
}
.social-links ul a[href*="dribbble.com"]:before {
  content: "\f201";
}
.social-links ul a[href*="plus.google.com"]:before {
  content: "\f206";
}
.social-links ul a[href*="pinterest.com"]:before {
  content: "\f209";
}
.social-links ul a[href*="github.com"]:before {
  content: "\f200";
}
.social-links ul a[href*="tumblr.com"]:before {
  content: "\f214";
}
.social-links ul a[href*="youtube.com"]:before {
  content: "\f213";
}
.social-links ul a[href*="flickr.com"]:before {
  content: "\f211";
}
.social-links ul a[href*="vimeo.com"]:before {
  content: "\f212";
}
.social-links ul a[href*="instagram.com"]:before {
  content: "\f215";
}
.social-links ul a[href*="codepen.io"]:before {
  content: "\f216";
}
.social-links ul a[href*="linkedin.com"]:before {
  content: "\f207";
}
.social-links ul a[href*="/feed"]:before {
  content: "\f413";
}

/* =Eventbrite */
.eventbrite-event .entry-meta span:before {
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: text-bottom;
}
.hentry.eventbrite-event:before {
  content: "\f305";
}
.eventbrite-event .entry-meta > span {
  display: inline-block;
  margin: 0 8px;
  width: auto;
}
.eventbrite-event .event-time:before {
  content: "\f307";
}
.eventbrite-event .event-venue-text:before {
  content: "\f417";
}
.eventbrite-event .event-organizer-text:before {
  content: "\f304";
}
.eventbrite-event .event-details-text:before {
  content: "\f455";
}